* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0px 10px;
  color: black;
}

.jumbotron {
  margin-top: 20px;
  min-height: 400px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
}

.center {
  display: flex;
  background-color: black;

}
.poster {
  padding: 10px 0px;
  width: 40%;
  text-align: center;
  margin: 20px;
}

.poster-l {
  padding: 10px 0px;
  width: 60%;
  margin:0px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster h2 {
  color: white;
  font-size: 40px;
  margin-top: 20px;
}
.poster img {
  margin:20px 0px;
  border: solid 3px wheat;
}

.poster h3 {
  color: white;
  font-size: 30px;
  margin: 10px 0px;

}

.poster span {
  margin: 30px 10px;
  color:lightgreen;
}

.poster-l h1 {
  color: white;
}

.poster-l p {
  color: white;
  margin:auto 10px;
  font-size: 20px;
}

.poster-l button {
  background-color: #0282f9;
  color: white;
  border: solid 1px #0282f9 ;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  margin: 20px 0px;
}

.content {
  width: 100%;
  min-height: 500px;
  background-color: black;
}

.content .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
}

.list a {
  text-decoration: none;
  margin-top: 30px;
  width: 16%;
  text-align: center;
}
.list.card {
  width: 16%;
}
.card img {
  width: 90%;
}
.card h3 {
  color: white;
  font-size: 20px;
}

.container {
  width: 100%;
  background-color: #0282f9;
}

.container .up {
  width: 80%;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  background-color: #0282f9;
  z-index: 999;
}

.container img {
  max-width: 60px;
}

.container span {
  margin: 15px;
}

.container .items {
  display: flex;
  align-items: center;
}

.container .midle {
  min-height: 300px;
  background-image: url("/img/footer-bg.jpg");
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.container .midle .midle-left {
  width: 50%;
  display: flex;
}

.container .midle .midle-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .midle .centro {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.container .midle-right img {
  max-width: 100%;
}

.container .under {
  width: 100%;
  min-height: 100px;
  background-color: #303030;
}

.container .under .follow {
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.container .under button {
  border: solid 1px #0282f9;
  background-color: #303030;
  color: white;
  height: 40px;
  cursor: pointer;
}

.container .under img {
  margin-left: 15px;
  vertical-align: middle;
}

.container .under a {
  color: #0282f9;
}

.container h4 {
  color: white;
}

.container ul {
  list-style-type: none;
  color: #9b9898;
}

.container a {
  text-decoration: none;
  color: #9b9898;
}

.more {
  height: 50px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more button {
  border-radius: 4px;
  border: solid 1px #0282f9;
  background-color: #0282f9;
  color: white;
  height: 30px;
  width: 100px;
  cursor: pointer;
  margin:30px 0px;
}

